/* -------------------------------------------------------Global Rules-------------------------------------------------------- */
/* -------------------------------------------------------Global Rules-------------------------------------------------------- */
/* -------------------------------------------------------Global Rules-------------------------------------------------------- */
:root{
    --basicColor: rgb(248, 152, 30);
    --menuColor: rgb(19, 19, 19, 0.8);
    --headerColor: rgb(19, 19, 19, 0.8);
    --innerColor: rgba(165, 165, 165);
    --basicFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(19, 19, 19);
}

/* -------------------------------------------------------HEADER-------------------------------------------------------- */
/* -------------------------------------------------------HEADER-------------------------------------------------------- */
header{
    background: var(--headerColor);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0 35px;

    position: fixed;
    top: 0;

    z-index: 2;
    transition: 0.45s;
}
.logo p{
    font-size: 30px;
    font-family: var(--basicFont);
}
.logo span{
    background: var(--basicColor);
    border-radius: 7px;
}
.close_btn{
    display: none;
}
.mine{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;
}
.log{
    width: 35px;
    height: 35px;
}
.log i{
    font-size: 40px;
    color: white;
}
.user{
    display: none;
}
nav .ul > li{
    list-style: none;
    margin: 0 20px;
    padding: 5px;

    position: relative;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: var(--basicFont);
}
nav ul li ul{
    border-radius: 5px;
    box-sizing: border-box;
}
nav ul li ul li{
    list-style: none;
}
nav ul li ul li:hover{
    background: var(--basicColor);
    border-radius: 7px;
}
.clicked{
    display: block;
}
nav ul li ul li:not(:last-child){
    margin-bottom: 15px;
}

/* -------------------------------------------------------ALPHAPET-------------------------------------------------------- */
/* -------------------------------------------------------ALPHAPET-------------------------------------------------------- */
.BG_01{
    background-image: url(https://cdni.pornpics.de/1280/7/691/65867767/65867767_018_bb54.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    width: 100%;
    height: 500px;

    margin-bottom: 75px;
    box-shadow: 0px 30px 50px
}

/* -------------------------------------------------------UP-BUTTON-------------------------------------------------------- */
/* -------------------------------------------------------UP-BUTTON-------------------------------------------------------- */
.btn{
    position: fixed;
    bottom: 17px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: var(--basicColor);
    border-radius: 18px;
    border: none;
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding: 8px 2px;
    box-sizing: border-box;
    z-index: 2;

    display: none;
}
.btn i{
    font-size: 45px;
}

/* ----------------container---------------- */
.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    box-sizing: border-box;
    margin-bottom: 55px;
}
.container .model{
    display: flex;
    justify-content: center;
}
.inside{
    display: flex;
    justify-content: center;
}
.inside .pic{
    position: relative;
    width: 250px;
    height: 350px;

    overflow: hidden;

    transition: 0.25s;
}
.inside .photo{
    position: absolute;
    height: 350px;
    width: 100%;
}
.inside .desc{
    position: absolute;
    width: 250px;
    height: 350px;
    background-color: rgba(242, 101, 101, 0);
    transition: 0.25s ease-in;
    box-sizing: border-box;
    padding: 15px;
}
.desc p{
    color: whi;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}
.inside_name{
    width: 250px;
    height: 45px;
    border: 5px solid black;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 25px;
    background: var(--basicColor);
    cursor: pointer;
}
.inside_name a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: center;
    border: 3px solid black;
    display: block;
}

/* -------------------------------------------------------FOOTER-------------------------------------------------------- */
/* -------------------------------------------------------FOOTER-------------------------------------------------------- */
footer{
    width: 100%;
    height: 60px;
    background: var(--basicColor);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------------------------------------------------------Devices-------------------------------------------------------- */
/* -------------------------------------------------------Devices-------------------------------------------------------- */
/* -------------------------------------------------------Devices-------------------------------------------------------- */



/* ----------------Small Screen---------------- */
/* ----------------Small Screen---------------- */
@media (max-width: 600px) {
    header{
        padding: 0 15px;
    }
    .sidebar{
        width: 75%;
        height: 100vh;
        background: var(--menuColor);
        backdrop-filter: blur(5px);

        box-sizing: border-box;
        padding: 25px 0px;

        position: absolute;
        top: 0;
        left: -75%;

        overflow: scroll;

        transition: 0.45s;
    }
    .close_btn{
        width: 25px;
        height: 25px;
        display: block;
        color: white;

        position: fixed;
        right: 25px;

        opacity: 0;

        transition: 0.25s;
    }
    .user{
        width: 75px;
        height: 75px;
        background: white;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 45px;
        font-family: var(--basicFont);
    }
    .mine{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 35px;
    }
    nav .ul > li{
        margin-bottom: 15px;
        border-bottom: 0.5px solid white;
    }
    nav .ul > li:nth-child(6){
        border-bottom: 0px solid white;
    }
    nav ul li ul{
        background: var(--innerColor);
        backdrop-filter: blur(5px);

        padding: 5px 25px;

        display: none;
    }
    nav ul li a{
        font-size: 32px;
    }
    .logOut{
        display: none;
    }
    .alphapet{
        height: 350px;
    }
    .BG_01{
        background-size: contain;
        height: 250px;
    }
/* -------------------------------------------------------CONTENT-------------------------------------------------------- */
/* -------------------------------------------------------CONTENT-------------------------------------------------------- */
    .container{
        grid-template-columns: 100%;
    }
}



/* ----------------Big Screen---------------- */
/* ----------------Big Screen---------------- */
@media (min-width: 1200px) {
    nav ul{
        display: flex;
    }
    nav .ul > li::before{
        content: "";
        width: 0;
        height: 2.5px;
        background: var(--basicColor);

        position: absolute;
        top: 27px;
        left: 0;

        transition: 0.25s;
    }
    nav .ul > li:hover::before{
        width: 100%;
    }
    nav ul li ul{
        background: var(--innerColor);
        position: absolute;
        top: 50px;
        width: 100px;
        padding: 5px;
        display: none;
    }
    nav ul li ul li{
        padding: 5px;
    }
    .log{
        display: none;
    }
    .TAB{
        background: var(--basicColor);
        padding: 5px;
        box-sizing: border-box;
        border-radius: 7px;
    }
}